path.link {
  fill: #666;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.licensing {
    fill: green;
  stroke: green;
}

path.link.resolved {
    fill: lightskyblue;
  stroke: lightskyblue;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
