<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>


    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <div align="justify" class="container"><span class="fs-4"><pre><span style="vertical-align: sub">Граф знаний по компаниям</span></pre></span>
        </div>
        <div class="container"><input type="text" size="40"></div>
        <div class="container">
            <button onclick="graph()" type="button" class="w-100 btn btn-lg btn-outline-primary">Build</button>
        </div>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Граф</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="https://github.com/andreybabynin/semantic_news_graph">Github
            project</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Команда</a>
    </nav>
</div>
{% block body %}{% endblock %}`

<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md
            <small class=" d-block mb-3 text-muted
        "> © 2022</small>
    </div>
    </div>
</footer>
</body>
</html>
