{% extends 'base.html' %}

{% block title%}
FAQ
{% endblock %}

{% block body %}
<div class="container">
    <h1>FAQ</h1>
    <body>
    <p>- Поле ввода "NER", можно оставить пустым,
        а можно написать название какой-нибудь именованной сущности, например: 'Россия', 'Газпром' или 'Путин', по ним будет построен граф.
        Далее можно выбрать промежуток времени где упоминалась NER(макс 1 месяц), глубину графа и минимальное количество связующих новостей</p>
    <p>- При нажатии на надпись ребра, "N news", под окном графа выведутся новости в которых упоминались NER'ы, N - количество новостей.</p>
    <p>- Граф можно двигать.</p>
    <p>- Граф можно приближать и отдалять.</p>
    <!-- <h1>Baseline</h1> -->
    </body>
    <!-- <p>Baseline состоит из нескольких блоков</p> -->
</div>
{% endblock %}