{% extends 'base.html' %}

{% block title%}
FAQ
{% endblock %}

{% block body %}
<div class="container">
    <h5>FAQ</h5>
    <body>
    <p> 
        This is an alpha-stage prototype of news-graph dashboard. Using it you can:
        <li>Find what and when was mentioned in Russian news telegrams.</li>
        <li>Get better understanding of the current news narrative.</li> 
        <li>Explore how people, organizations and locations are interconnected.</li>
        </p>

    <h5>How it works</h5>
    <p>
    <li>By entering a named entity (like Москва), you can create a dynamic graph with the ability to zoom and drag.</li>
    <li>By clicking on the graph edges, you can see under the graph box all the news that it was associated with</li>
    <li><b>Depth</b> parameter allows you to change the graph depth, finding more distant associations.</li>
    <li><b>Min news threshold</b> stands for minimum number of news in the period</li>
    </p>
    
    <h5>Github & Team</h5>
    <p><a class="link" href="https://github.com/andreybabynin/semantic_news_graph">https://github.com/andreybabynin/semantic_news_graph</a></p>
    </body>

</div>
{% endblock %}