<!DOCTYPE html>
<html>
  <head>
    <title>Network Graph</title>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js">
    </script>
  </head>
  <body>
    
    <div align = 'center'>
      <form action="" method = 'POST'>
        <div>
          <label for="input_ner">NER</label>
          <input type="text" name="input_ner">

          <input type="submit">
        </div>
        <label for="date_min">Date start</label>
        <input type="date" value="2022-08-01" name="date_min">
        <label for="date_max">Date end</label>
        <input type="date" value="2022-08-31" name="date_max">
        <label for="graph_depth">Graph depth</label>
        <input type="number" value="1" name="graph_depth">
        <label for="min_news_count">Min news count (on edge)</label>
        <input type="number" value="2" name="min_news_count">
    
      </form>

      
      <svg width="1200" height="800"></svg>
      <script type="text/javascript" src="static/js/index.js"></script>
  </div>
  </body>
</html>
